* {font-family: 'Work Sans', sans-serif;font-weight: 400;font-size: 15px;text-size-adjust: none;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-appearance: none;appearance: none;-moz-appearance: none;margin: 0;padding: 0;list-style: none;outline: 0;text-decoration: none;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;}
body {color: #545E6C;background: #f1efef;padding: 30px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
a {border-top: 1px solid transparent;border-bottom: 1px solid transparent;padding: 1px 0;font-family: 'Quicksand', sans-serif;float: left;color: black;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
svg {position: relative;margin-right: 10px;fill: #458cff;float: left;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
img {transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;border: 0;}
ul, li {display: table;}
@keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-webkit-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-moz-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-ms-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@-o-keyframes m1 { 0% {fill: #f5f5f5; } 100% {fill: #458cff; } }
@keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-webkit-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-moz-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-ms-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
@-o-keyframes m2 { 0% {background: #f5f5f5; } 100% {background: #458cff; } }
::selection {background: black;color: white;}
::-moz-selection {background: #fff2a8;color: white;}
::-ms-selection {background: #fff2a8;color: white;}
::-o-selection {background: #fff2a8;color: white;}
::-webkit-selection {background: #fff2a8;color: white;}
/**********************************************************/
.edu-form1 {height: 56px;}
.edu-form2 {height: 76px;}
.edu-form3 {height: 76px;}
.edu-form4 {height: 46px;}

.cer-form1 {height: 56px;}
.cer-form2 {height: 56px;}
.cer-form3 {height: 56px;}
.cer-form4 {height: 56px;}
.cer-form5 {height: 56px;}
.cer-form6 {height: 762px;}

.exp-form1 {height: 296px;}
.exp-form2 {height: 64px;}

.sta-form1 {height: 114px;}
.sta-form2 {height: 206px;}
.sta-form3 {height: 114px;}
.sta-form4 {height: 128px;}
/**********************************************************/
.edu-svg-form1 {animation: m1 1s ease 1s infinite;-moz-animation: m1 1s ease 1s infinite;-ms-animation: m1 1s ease 1s infinite;-o-animation: m1 1s ease 1s infinite;-webkit-animation: m1 1s ease 1s infinite;}
.edu-form1 {animation: m2 1s ease 875ms infinite;-moz-animation: m2 1s ease 875ms infinite;-ms-animation: m2 1s ease 875ms infinite;-o-animation: m2 1s ease 875ms infinite;-webkit-animation: m2 1s ease 875ms infinite;}
.edu-svg-form2 {animation: m1 1s ease 750ms infinite;-moz-animation: m1 1s ease 750ms infinite;-ms-animation: m1 1s ease 750ms infinite;-o-animation: m1 1s ease 750ms infinite;-webkit-animation: m1 1s ease 750ms infinite;}
.edu-form2 {animation: m2 1s ease 625ms infinite;-moz-animation: m2 1s ease 625ms infinite;-ms-animation: m2 1s ease 625ms infinite;-o-animation: m2 1s ease 625ms infinite;-webkit-animation: m2 1s ease 625ms infinite;}
.edu-svg-form3 {animation: m1 1s ease 500ms infinite;-moz-animation: m1 1s ease 500ms infinite;-ms-animation: m1 1s ease 500ms infinite;-o-animation: m1 1s ease 500ms infinite;-webkit-animation: m1 1s ease 500ms infinite;}
.edu-form3 {animation: m2 1s ease 375ms infinite;-moz-animation: m2 1s ease 375ms infinite;-ms-animation: m2 1s ease 375ms infinite;-o-animation: m2 1s ease 375ms infinite;-webkit-animation: m2 1s ease 375ms infinite;}
.edu-svg-form4 {animation: m1 1s ease 250ms infinite;-moz-animation: m1 1s ease 250ms infinite;-ms-animation: m1 1s ease 250ms infinite;-o-animation: m1 1s ease 250ms infinite;-webkit-animation: m1 1s ease 250ms infinite;}
.edu-form4 {animation: m2 1s ease 125ms infinite;-moz-animation: m2 1s ease 125ms infinite;-ms-animation: m2 1s ease 125ms infinite;-o-animation: m2 1s ease 125ms infinite;-webkit-animation: m2 1s ease 125ms infinite;}

.cer-svg-form1 {animation: m1 1550ms ease 1550ms infinite;-moz-animation: m1 1550ms ease 1550ms infinite;-ms-animation: m1 1550ms ease 1550ms infinite;-o-animation: m1 1550ms ease 1550ms infinite;-webkit-animation: m1 1550ms ease 1550ms infinite;}
.cer-form1 {animation: m2 1550ms ease 1375ms infinite;-moz-animation: m2 1550ms ease 1375ms infinite;-ms-animation: m2 1550ms ease 1375ms infinite;-o-animation: m2 1550ms ease 1375ms infinite;-webkit-animation: m2 1550ms ease 1375ms infinite;}
.cer-svg-form2 {animation: m1 1550ms ease 1250ms infinite;-moz-animation: m1 1550ms ease 1250ms infinite;-ms-animation: m1 1550ms ease 1250ms infinite;-o-animation: m1 1550ms ease 1250ms infinite;-webkit-animation: m1 1550ms ease 1250ms infinite;}
.cer-form2 {animation: m2 1550ms ease 1125ms infinite;-moz-animation: m2 1550ms ease 1125ms infinite;-ms-animation: m2 1550ms ease 1125ms infinite;-o-animation: m2 1550ms ease 1125ms infinite;-webkit-animation: m2 1550ms ease 1125ms infinite;}
.cer-svg-form3 {animation: m1 1550ms ease 1s infinite;-moz-animation: m1 1550ms ease 1s infinite;-ms-animation: m1 1550ms ease 1s infinite;-o-animation: m1 1550ms ease 1s infinite;-webkit-animation: m1 1550ms ease 1s infinite;}
.cer-form3 {animation: m2 1550ms ease 875ms infinite;-moz-animation: m2 1550ms ease 875ms infinite;-ms-animation: m2 1550ms ease 875ms infinite;-o-animation: m2 1550ms ease 875ms infinite;-webkit-animation: m2 1550ms ease 875ms infinite;}
.cer-svg-form4 {animation: m1 1550ms ease 750ms infinite;-moz-animation: m1 1550ms ease 750ms infinite;-ms-animation: m1 1550ms ease 750ms infinite;-o-animation: m1 1550ms ease 750ms infinite;-webkit-animation: m1 1550ms ease 750ms infinite;}
.cer-form4 {animation: m2 1550ms ease 625ms infinite;-moz-animation: m2 1550ms ease 625ms infinite;-ms-animation: m2 1550ms ease 625ms infinite;-o-animation: m2 1550ms ease 625ms infinite;-webkit-animation: m2 1550ms ease 625ms infinite;}
.cer-svg-form5 {animation: m1 1550ms ease 500ms infinite;-moz-animation: m1 1550ms ease 500ms infinite;-ms-animation: m1 1550ms ease 500ms infinite;-o-animation: m1 1550ms ease 500ms infinite;-webkit-animation: m1 1550ms ease 500ms infinite;}
.cer-form5 {animation: m2 1550ms ease 375ms infinite;-moz-animation: m2 1550ms ease 375ms infinite;-ms-animation: m2 1550ms ease 375ms infinite;-o-animation: m2 1550ms ease 375ms infinite;-webkit-animation: m2 1550ms ease 375ms infinite;}
.cer-svg-form6 {animation: m1 1550ms ease 250ms infinite;-moz-animation: m1 1550ms ease 250ms infinite;-ms-animation: m1 1550ms ease 250ms infinite;-o-animation: m1 1550ms ease 250ms infinite;-webkit-animation: m1 1550ms ease 250ms infinite;}
.cer-form6 {animation: m2 1550ms ease 125ms infinite;-moz-animation: m2 1550ms ease 125ms infinite;-ms-animation: m2 1550ms ease 125ms infinite;-o-animation: m2 1550ms ease 125ms infinite;-webkit-animation: m2 1550ms ease 125ms infinite;}

.exp-svg-form1 {animation: m1 1s ease 1s infinite;-moz-animation: m1 1s ease 1s infinite;-ms-animation: m1 1s ease 1s infinite;-o-animation: m1 1s ease 1s infinite;-webkit-animation: m1 1s ease 1s infinite;}
.exp-form1 {animation: m2 1s ease 750ms infinite;-moz-animation: m2 1s ease 750ms infinite;-ms-animation: m2 1s ease 750ms infinite;-o-animation: m2 1s ease 750ms infinite;-webkit-animation: m2 1s ease 750ms infinite;}
.exp-svg-form2 {animation: m1 1s ease 500ms infinite;-moz-animation: m1 1s ease 500ms infinite;-ms-animation: m1 1s ease 500ms infinite;-o-animation: m1 1s ease 500ms infinite;-webkit-animation: m1 1s ease 500ms infinite;}
.exp-form2 {animation: m2 1s ease 250ms infinite;-moz-animation: m2 1s ease 250ms infinite;-ms-animation: m2 1s ease 250ms infinite;-o-animation: m2 1s ease 250ms infinite;-webkit-animation: m2 1s ease 250ms infinite;}

.sta-svg-form1 {animation: m1 1550ms ease 1550ms infinite;-moz-animation: m1 1550ms ease 1550ms infinite;-ms-animation: m1 1550ms ease 1550ms infinite;-o-animation: m1 1550ms ease 1550ms infinite;-webkit-animation: m1 1550ms ease 1550ms infinite;}
.sta-form1 {animation: m2 1550ms ease 1375ms infinite;-moz-animation: m2 1550ms ease 1375ms infinite;-ms-animation: m2 1550ms ease 1375ms infinite;-o-animation: m2 1550ms ease 1375ms infinite;-webkit-animation: m2 1550ms ease 1375ms infinite;}
.sta-svg-form2 {animation: m1 1550ms ease 1250ms infinite;-moz-animation: m1 1550ms ease 1250ms infinite;-ms-animation: m1 1550ms ease 1250ms infinite;-o-animation: m1 1550ms ease 1250ms infinite;-webkit-animation: m1 1550ms ease 1250ms infinite;}
.sta-form2 {animation: m2 1550ms ease 1125ms infinite;-moz-animation: m2 1550ms ease 1125ms infinite;-ms-animation: m2 1550ms ease 1125ms infinite;-o-animation: m2 1550ms ease 1125ms infinite;-webkit-animation: m2 1550ms ease 1125ms infinite;}
.sta-svg-form3 {animation: m1 1550ms ease 1s infinite;-moz-animation: m1 1550ms ease 1s infinite;-ms-animation: m1 1550ms ease 1s infinite;-o-animation: m1 1550ms ease 1s infinite;-webkit-animation: m1 1550ms ease 1s infinite;}
.sta-form3 {animation: m2 1550ms ease 875ms infinite;-moz-animation: m2 1550ms ease 875ms infinite;-ms-animation: m2 1550ms ease 875ms infinite;-o-animation: m2 1550ms ease 875ms infinite;-webkit-animation: m2 1550ms ease 875ms infinite;}
.sta-svg-form4 {animation: m1 1550ms ease 750ms infinite;-moz-animation: m1 1550ms ease 750ms infinite;-ms-animation: m1 1550ms ease 750ms infinite;-o-animation: m1 1550ms ease 750ms infinite;-webkit-animation: m1 1550ms ease 750ms infinite;}
.sta-form4 {animation: m2 1550ms ease 625ms infinite;-moz-animation: m2 1550ms ease 625ms infinite;-ms-animation: m2 1550ms ease 625ms infinite;-o-animation: m2 1550ms ease 625ms infinite;-webkit-animation: m2 1550ms ease 625ms infinite;}
/**********************************************************/
.contact-list a:hover, .contact-list a:hover svg {color: white;border-color: white;fill: white;}
/**********************************************************/
section .div-a a:hover, section .div-a a:hover svg, .meta a:hover, .meta a:hover svg {border-color: #3f4650;fill: #3f4650;color: #3f4650;}
/**********************************************************/
@media (hover: none) and (pointer: coarse) and (hover: hover) and (pointer: fine) {
        section .div-a a:hover, section .div-a a:hover svg, .meta a:hover, .meta a:hover svg {border-color: #3f4650;fill: #3f4650;color: #3f4650;}
}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.wrapper {max-width: 1290px;margin: 0 auto;box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-ms-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);-o-box-shadow: 0px 2px 4px rgba(0,0,0,0.1);}
.sidebar-wrapper {width: 300px;float: right;background: #42A8C0;color: aliceblue;text-align: center;}
header {padding: 30px;background: rgba(0,0,0,0.2);height: 512px;}
.avatar {max-width: 120px;max-height: 120px;border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-webkit-border-radius: 100%;display: block;margin: auto;margin-top: 8px;}
.name {line-height: 41px;font-size: 32px;font-family: 'Montserrat', sans-serif;}
.tagline0, .tagline1 {font-size: 16px;line-height: 22px;font-family: 'Montserrat', sans-serif;margin-top: 10px;}
/**********************************************************/
aside {padding: 30px;height: 208px;}
.contact-list {margin: auto;width: 100%;}
.contact-list li {margin: auto;margin-bottom: 20px;}
.contact-list li:last-child {margin-bottom: 0;}
.contact-list li.phone {letter-spacing: -1px;word-spacing: 1px;}
.div-a {display: table;margin: auto;}
.contact-list a {padding: 1px 10px;}
.contact-list a svg {fill: black;}
.div-a p {display: table;font-weight: 700;font-family: 'Quicksand', sans-serif;font-size: 14px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.glob {padding-right: 300px;background: mediumturquoise;text-align: center;}
nav {padding: 30px;background: #34b9b4;display: table;width: 100%;}
.t11, .t12 {float: left;width: 50%;height: 40px;}
.t11 a img, .t12 a img {width: 30px;height: 30px;margin-right: 10px;float: left;position: relative;top: 4px;border-radius: 100%;-ms-border-radius: 100%;-moz-border-radius: 100%;-o-border-radius: 100%;-webkit-border-radius: 100%;border: 1px solid #34b9b4;}
/**********************************************************/
.summary-section2 {padding: 40px;height: 384px;padding-top: 66px;}
.t3 {display: table;margin: auto;margin-bottom: 40px;}
.t1 {line-height: 28px;padding-top: 2px;font-size: 22px;margin-left: 40px;font-family: 'Montserrat', sans-serif;color: #2f3132;}
.summary p {font-size: 14px;font-family: 'Montserrat', sans-serif;}
.summary-section1 {padding: 40px;height: 236px;padding-top: 0;}
/**********************************************************/
nav .div-a {transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;background: rgb(0 0 0 / 20%);border: 1px solid transparent;border-radius: 20px;-ms-border-radius: 20px;-moz-border-radius: 20px;-o-border-radius: 20px;-webkit-border-radius: 20px;display: inline-block;}
nav .div-a a {padding: 0;padding-left: 5px;color: black;line-height: 38px;padding-right: 12px;border: 0;}
/**********************************************************/
nav .div-a:hover {border-color: white;background: lightslategray;}
nav .div-a:hover a {color: white;}
nav .div-a:hover img {border-color: white;}
/**********************************************************/
nav .important {background: rgb(0 0 0 / 30%);}
nav .important a {color: white;}
nav .important:hover {background: rgb(0 0 0 / 20%);}
nav .important:hover a {color: black;}
/**********************************************************/
.img-proj:hover, .img-1:hover, .img-2:hover, footer a img:hover {filter: grayscale(100%) invert(100%);-webkit-filter: grayscale(100%) invert(100%);-ms-filter: grayscale(100%) invert(100%);-moz-filter: grayscale(100%) invert(100%);-o-filter: grayscale(100%) invert(100%);}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) { .summary-section2 {padding: 40px;} }
@media (max-width: 991px) {
        body, .glob {padding: 0;}
        .sidebar-wrapper {width: 100%;}
        header, aside, .summary-section1, .summary-section2 {padding: 30px;height: auto;}
        .t2 {display: none;}
        /**********************************************************/
        .contact-list li {width: 50%;float: left;}
        .contact-list li.linkedin {margin-bottom: 0;}
        .t3 {margin-bottom: 20px;}
        .summary-section1 {padding-top: 0;}
}
@media (max-width: 767px) {
        .contact-list li {width: auto;float: none;}
        .contact-list li.linkedin {margin-bottom: 20px;}
}
@media (max-width: 479px) {
        .t11, .t12 {width: 100%;}
        .t11 {margin-bottom: 20px;}
        /**********************************************************/
        .t1 {font-size: 20px;font-weight: 500;line-height: 22px;}
        .summary-section1 svg, .summary-section2 svg {width: 26px;height: 26px;}
}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
main {background: #fff;}
.section {padding: 30px;padding-bottom: 0;}
.section:last-child {padding: 30px;}
.main-title {margin-right: 5px;margin-bottom: 30px;}
.section-title {border-top: 1px dotted #337ab7;border-bottom: 1px dotted #337ab7;margin-left: 40px;line-height: 28px;text-transform: uppercase;font-size: 18px;font-weight: 500;}
/**********************************************************/
.puce {float: left;width: 30px;}
.puce svg {width: 10px;height: 10px;left: 10px;top: 4px;}
.stages-section .puce svg {top:2px;}
.b200 {width: 2px;float: left;margin: 8px 14px;margin-bottom: 0;background: #458cff;}
/**********************************************************/
.m2 {padding-left: 40px;padding-right: 5px;}
.item {margin-top: 30px;display: table;}
.meta, .upper-row {float: left;}
/**********************************************************/
.div-time {float: left;margin-right: 5px;border-top: 1px solid transparent;border-bottom: 1px solid transparent;padding: 1px 0;}
.stages-section .div-time, .benevoles-section .div-time {padding: 0; border: 0;}
.div-dipjob {float: left;}
.div-edu3 .div-dipjob, .div-exp2 .div-dipjob {margin-top: 2px;}
.time {font-size: 14px;font-weight: 500;font-family: 'Quicksand', sans-serif;text-transform: uppercase;}
.dipjob, .local, strong {font-weight: 500;}
/**********************************************************/
.div-local {width: 100%;float: left;}
.div-exp2 .div-local {margin-top: 2px;}
.stages-section .div-local {margin-top: 4px;}
.div-equiv, .div-mention {margin-top: 2px;margin-right: 3px;float: left;}
.div-prix {margin-top: 2px;float: left;}
/**********************************************************/
.time, .dipjob, .local, .prix, .equiv, .mention, .title, .work, .objet, .projet {display: table;}
/**********************************************************/
.dip {width: 100%;float: left;}
.item li {float: left;margin-right: 10px;}
/**********************************************************/
.ul-cert {display: table;width: 100%;float: left;}
.ul-cert h3 {margin: 2px 0;}
.ul-cert p {display: table;}
.ul-cert h3 p {font-weight: 500;}
.ul-cert ul {margin-left: 30px;margin-top: 4px;margin-bottom: 4px;}
.ul-cert ul:last-child {margin-bottom: 0;}
.ul-cert.ul-cert6 li {margin: 0;float: none;}
.ul-cert.ul-cert6 li svg {margin-right: 0;}
/**********************************************************/
.ul-exp, .ul-sta {margin-top: 4px;margin-left: 30px;display: table;float: left;}
.ul-exp div, .ul-sta div {width: 100%;float: left;margin-bottom: 4px;}
.ul-exp svg, .ul-sta svg {fill: #545e6c;margin-right: 0;}
.ul-exp p, .ul-sta p {display: table;}
.ul-exp div:last-child, .ul-sta div:last-child {margin-bottom: 0;}
/**********************************************************/
.div-title, .div-work, .div-objet, .div-projet {margin-top: 4px;width: 100%;float: left;}
.div-exp1 .div-title {margin-top: 2px;}
.title, .work, .projet {color: #458cff;font-weight: 500;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 991px) {
        .section {padding: 10px;padding-top: 30px;padding-bottom: 0;}
        .section:last-child {padding: 30px 15px;}
        /**********************************************************/
        .puce {display: none;}
        .m2 {padding-left: 5px;}
        /**********************************************************/
        .div-time {margin-right: 0;}
        .div-dipjob {width: 100%;}
        .stages-section .div-dipjob, .benevoles-section .div-dipjob {margin-top: 4px;}
        .div-equiv {margin-right: 0;width: 100%;}
        .div-mention {margin-right: 0;width: 100%;margin-top: 4px;}
        .div-edu2 .div-mention, .div-edu4 .div-mention {margin-top: 2px;}
        .div-exp2 .div-local {margin-top: 4px;}
        .div-edu3 .div-local {margin-top: 2px;}
        .div-prix {width: 100%;margin-top: 4px;}
        /**********************************************************/
        .item li {float: none;margin: 0;}
        .ul-cert.ul-cert6 {margin-top: 0;}
        /**********************************************************/
        .circuit {display: block;margin: 15px 30px;margin-right: 0;}
        .circuit:last-child {display: none;}
        .s33 {border-top: 1px solid #458cff;}
}
@media (max-width: 479px) {
        .main-title {margin-right: 0;text-align: center;border-top: 1px dotted #337ab7;border-bottom: 1px dotted #337ab7;}
        .main-title svg {width: 26px;height: 26px;float: none;margin: 6px auto;margin-top: 10px;display: block;}
        .section-title {margin: 0;line-height: unset;height: auto;border: 0;margin-bottom: 6px;font-size: 17px;font-weight: 600;}
}
@media (max-width: 375px) { .ul-cert ul, .ul-exp, .ul-sta {margin-left: 6px;} }
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.skills-list {display: table;padding: 0 6px;margin-top: 30px;width: 100%;}
.l1 {float: left;}
.names {display: table;font-weight: 600;color: black;}
.complemes-section .x0 {display: table;font-weight: 600;float: left;margin-bottom: 0;}
.text {font-weight: 600;color: seagreen;display: inline;}
.level {color: #545E6C;display: inline;}
/**********************************************************/
.li1-1, .li2-1 {width: 265px;}
.li1-2, .li2-2 {width: 449px;}
/**********************************************************/
.x0 {margin-bottom: 4px;}
.x0 h3 {font-weight: 600;display: table;}
/**********************************************************/
.l2 {margin-top: 4px;}
.x1 p {display: table;}
.x2, .x3 {padding-left: 34px;margin-top: 2px;}
.x2 svg, .x3 svg, .ul-complemes svg {fill: #545e6c;margin-right: 0;}
.x2 p, .x3 p {display:table;}
.x2 div, .x3 div {display: table;}
/**********************************************************/
.li4-1 {width: 130px;}
.li4-2 {width: 140px;}
.li4-3 {width: 208px;}
.li4-4 {width: 356px;}
/**********************************************************/
.toolset5 .x0, .toolset6 .x0, .toolset7 .x0, .toolset8 .x0, .toolset11 .x0, .toolset12 .x0 {margin-bottom: 0;display: table;}
.toolset5 .l1, .toolset6 .l1, .toolset7 .l1, .toolset8 .l1, .toolset11 .l1, .toolset12 .l1 {width: 100%;margin-top: 4px;}
.toolset8 .names, .toolset11 .names, .aptset .names, .interset .names, .benevoles-section .dipjob, .ul-benev *, .ul-complemes .names {font-weight: 400;color: #545E6C;}
/**********************************************************/
.l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-9, .l1.li7-11, .l1.li7-13, .l1.li7-15, .l1.li7-17, .l1.li7-19, .l1.li7-21, .l1.li7-23, .l1.li7-25, .l1.li7-27, .l1.li7-29, .l1.li7-31 {width: 454px;margin-right: 10px;}
.l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8, .l1.li7-10, .l1.li7-12, .l1.li7-14, .l1.li7-16, .l1.li7-18, .l1.li7-20, .l1.li7-22, .l1.li7-24, .l1.li7-26, .l1.li7-28, .l1.li7-30, .l1.li7-32 {width: 454px;}
/**********************************************************/
.l1.li8-1, .l1.li8-3, .l1.li8-5, .l1.li8-7 {width: 360px;}
.l1.li8-2, .l1.li8-4, .l1.li8-6, .l1.li8-8 {width: 550px;}
/**********************************************************/
.l1.li11-1 {width: 580px;}
.l1.li11-3, .l1.li11-6, .l1.li11-9 {width: 304px;}
.l1.li11-4, .l1.li11-7, .l1.li11-10 {width: 276px;}
.l1.li11-2, .l1.li11-5, .l1.li11-8, .l1.li11-11 {width: 400px;}
/**********************************************************/
.l1.li12-3, .l1.li12-5, .l1.li12-7 {width: 346px;}
.l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 530px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
.langues-section .m2, .aptes-section .m2, .interests-section .m2 {padding: 0;}
.langues-section .skills-list, .aptes-section .skills-list, .interests-section .skills-list {margin-top: 0;padding: 0;}
.langset .l4, .aptset .l4, .interset .l4 {float: left;}
.l4.lang-1 {width: 175px;}
.l4.lang-2 {width: 206px;}
.l4.lang-3 {width: 382px;}
/**********************************************************/
.aptes-section .skills-list {width: 720px;}
.aptset .l4 {margin-top: 4px;}
.l4.apt-1, .l4.apt-2 {margin-top: 0;}
.l4.apt-1, .l4.apt-3, .l4.apt-5 {width: 384px;}
.l4.apt-2, .l4.apt-4, .l4.apt-6 {width: 336px;}
.l4.apt-7 {width: 137px;}
.l4.apt-8 {width: 247px;}
.l4.apt-9 {width: 123px;}
.l4.apt-10 {width: 114px;}
.l4.apt-11 {width: 137px;}
.l4.apt-12 {width: 247px;}
.l4.apt-13 {width: 123px;}
.l4.apt-14 {width: 114px;}
/**********************************************************/
.l4.int-1 {width: 189px;}
.l4.int-2 {width: 152px;}
.l4.int-3 {width: 118px;}
/**********************************************************/
.benevoles-section .m2, .complemes-section .m2 {padding-left: 6px;padding: 0;}
.ul-benev, .ul-complemes {display: table;width: 100%;}
.ul-complemes {float: left;padding-left: 28px;margin-top: 4px;}
.complemes-section .item {margin-top: 0;margin-bottom: 4px;}
.complemes-section .item:last-child {margin-bottom: 0;}
.complemes-section .item:last-child .ul-complemes div:last-child {margin-bottom: 0;}
.mcorp {display: table;}
.corp {display: inline;}
.ul-benev div, .ul-complemes div {float: left;}
.ul-complemes div {margin-bottom: 2px;}
.ul-complemes div:last-child {margin-bottom: 0;}
.ul-benev div {float: left;margin-top: 4px;}
/**********************************************************/
.ul-exp2 div {margin-bottom: 0;}
.ul-exp .expN2L1 {width: 131px;}
.ul-exp .expN2L2 {width: 167px;}
.ul-exp .expN2L3 {width: 175px;}
.ul-exp .expN2L4 {width: 235px;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) { .l1.li11-2, .l1.li11-5, .l1.li11-8, .l1.li11-11 {width: 300px;} }
@media (max-width: 1049px) {
        .level br {display: none;}
        /**********************************************************/
        .l1.li11-1 {width: 882px;}
        .l1.li11-2, .l1.li11-4, .l1.li11-6, .l1.li11-8, .l1.li11-10 {width: 300px;}
        .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11 {width: 521px;}
        /**********************************************************/
        .l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-9, .l1.li7-11, .l1.li7-13, .l1.li7-15, .l1.li7-17, .l1.li7-19, .l1.li7-21, .l1.li7-23, .l1.li7-25, .l1.li7-27, .l1.li7-29, .l1.li7-31 {width: 425px;}
        .l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8, .l1.li7-10, .l1.li7-12, .l1.li7-14, .l1.li7-16, .l1.li7-18, .l1.li7-20, .l1.li7-22, .l1.li7-24, .l1.li7-26, .l1.li7-28, .l1.li7-30, .l1.li7-32 {width: 425px;}
        /**********************************************************/
        .l1.li8-1, .l1.li8-3, .l1.li8-5, .l1.li8-7 {width: 361px;}
        .l1.li8-2, .l1.li8-4, .l1.li8-6, .l1.li8-8 {width: 359px;}
        /**********************************************************/
        .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 420px;}
}
@media (max-width: 991px) {
        .projet br {display: none;}
        .li4-4 {width: 100%;margin-top: 4px;}
        /**********************************************************/
        .l1.li11-1 {width: 682px;}
        .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11 {width: 391px;}
        /**********************************************************/
        .l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-9, .l1.li7-11, .l1.li7-13, .l1.li7-15, .l1.li7-17, .l1.li7-19, .l1.li7-21, .l1.li7-23, .l1.li7-25, .l1.li7-27, .l1.li7-29, .l1.li7-31 {width: 358px;}
        .l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8, .l1.li7-10, .l1.li7-12, .l1.li7-14, .l1.li7-16, .l1.li7-18, .l1.li7-20, .l1.li7-22, .l1.li7-24, .l1.li7-26, .l1.li7-28, .l1.li7-30, .l1.li7-32 {width: 358px;}
        /**********************************************************/
        .toolset9 .l1, .toolset10 .l1 {width: 82%;}
        /**********************************************************/
        .l1.li12-3, .l1.li12-5, .l1.li12-7, .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 350px;}
        /**********************************************************/
        .langset .l4:last-child {margin-top: 4px;}
        .l4.lang-2 {width: 408px;}
        .l4.lang-3 {width: 440px;}
        /**********************************************************/
        .benevoles-section .item .upper-row {margin-bottom: 0;}
        .ul-benev {margin-left: 0;}
}
@media (max-width: 767px) {
        .li1-2, .li2-2 {margin-top: 4px;width: 100%;}
        /**********************************************************/
        .li4-2, .li4-3 {margin-top: 4px;width: 100%;}
        /**********************************************************/
        .l4.int-2 {max-width: 50%;width: 400px;}
        .l4.int-3, .l4.int-4 {margin-top: 4px;width: 189px;}
        /**********************************************************/
        .l1.li8-1, .l1.li8-3, .l1.li8-5, .l1.li8-2, .l1.li8-4, .l1.li8-6, .l1.li8-7, .l1.li8-8 {width: 100%;}
        /**********************************************************/
        .toolset11 .l1 {float: left;}
        /**********************************************************/
        .l1.li11-1 {width: 310px;}
        .l1.li11-2, .l1.li11-4, .l1.li11-6, .l1.li11-8, .l1.li11-10, .l1.li11-3, .l1.li11-5, .l1.li11-7, .l1.li11-9, .l1.li11-11 {width: 100%;}
        /**********************************************************/
        .l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-9, .l1.li7-11, .l1.li7-13, .l1.li7-15, .l1.li7-17, .l1.li7-19, .l1.li7-21, .l1.li7-23, .l1.li7-25, .l1.li7-27, .l1.li7-29, .l1.li7-31 {width: 430px;margin-right: 0;width: 100%;}
        .l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8, .l1.li7-10, .l1.li7-12, .l1.li7-14, .l1.li7-16, .l1.li7-18, .l1.li7-20, .l1.li7-22, .l1.li7-24, .l1.li7-26, .l1.li7-28, .l1.li7-30, .l1.li7-32 {width: 430px;width: 100%;}
        /**********************************************************/
        .l1.li12-1, .l1.li12-2 {width: 448px;}
        .l1.li12-3, .l1.li12-5, .l1.li12-7, .l1.li12-4, .l1.li12-6, .l1.li12-8 {width: 100%;}
        /**********************************************************/
        .l4.lang-2 {width: 208px;}
        /**********************************************************/
        .aptes-section .skills-list {width: 330px;}
        .l4.apt-1, .l4.apt-3, .l4.apt-5 {width: 100%;}
        .l4.apt-2, .l4.apt-4, .l4.apt-6 {margin-top: 4px;}
        .l4.apt-8, .l4.apt-12, .l4.apt-9, .l4.apt-11, .l4.apt-13 {width: 137px;}
        /**********************************************************/
        .ul-exp2 div {margin-bottom: 4px;}
        .ul-exp .expN2L1 {width: 180px;}
        .ul-exp .expN2L2 {max-width: 50%;width: 400px;}
        .ul-exp .expN2L3 {width: 180px;margin-bottom: 0;}
}
@media (max-width: 479px) {
        .skills-list, .langues-section .m2 {padding: 0;}
        /**********************************************************/
        .l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8 {width: 100%;}
        /**********************************************************/
        .l1.li12-1, .l1.li12-2 {width: 100%;}
        /**********************************************************/
        .l1.li7-1, .l1.li7-3, .l1.li7-5, .l1.li7-7, .l1.li7-9, .l1.li7-11, .l1.li7-13, .l1.li7-15, .l1.li7-17, .l1.li7-19, .l1.li7-21, .l1.li7-23, .l1.li7-25, .l1.li7-27, .l1.li7-29, .l1.li7-31 {width: 100%;}
        .l1.li7-2, .l1.li7-4, .l1.li7-6, .l1.li7-8, .l1.li7-10, .l1.li7-12, .l1.li7-14, .l1.li7-16, .l1.li7-18, .l1.li7-20, .l1.li7-22, .l1.li7-24, .l1.li7-26, .l1.li7-28, .l1.li7-30, .l1.li7-32 {width: 100%;}
        /**********************************************************/
        .toolset9 .l1, .toolset10 .l1 {width: 100%}
        /**********************************************************/
        .l4.lang-1, .l4.lang-3 {width: 100%;}
        .l4.lang-2 {margin-top: 4px;}
        /**********************************************************/
        .l4.int-2, .l4.int-3 {margin-top: 4px;}
        .interset .l4 {width: 100%;max-width: unset;}
        /**********************************************************/
        .ul-exp .expN2L1, .ul-exp .expN2L2, .ul-exp .expN2L3, .ul-exp .expN2L4 {max-width: unset;width: 100%;margin-bottom: 4px;}
}
@media (max-width: 375px) {
        .l1.li11-1 {width: 100%;}
        .l4.lang-3 {width: 260px;}
        .aptes-section .skills-list {width: 100%;}
        .l4.apt-2, .l4.apt-4, .l4.apt-6 {width: 100%;}
}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media print { @page {size: A3 portrait;} }
@media (min-width: 320px) and (max-width: 375px) {}
@media (min-width: 376px) and (max-width: 479px) {}
@media (min-width: 480px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1049px) {}
@media (min-width: 1050px) and (max-width: 1209px) {}
@media (min-width: 1210px) {}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
article {padding: 0 8px;background: mediumturquoise;}
.project-title {margin: auto;padding: 20px 0;display: table;padding-bottom: 12px;}
.p-title {margin-left: 40px;line-height: 30px;text-transform: uppercase;font-size: 18px;font-weight: 500;}
/**********************************************************/
.column {padding: 8px;}
.column:last-child {padding-bottom: 16px;}
.content {background-color: white;display: table;width: 100%;box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-moz-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-ms-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-webkit-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);-o-box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);}
/**********************************************************/
.img-proj {margin-right: 10px;float: left;background: #f1efef;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
.img-proj a {display: table;padding: 10px;border: 0;width: 100%;}
.content img {display: table;max-width: 500px;margin: auto;}
/**********************************************************/
.n3 {float: left;}
.desc h3 {margin: 10px 0;font-weight: 600;font-family: 'Montserrat', sans-serif;font-size: 14px;display: table;padding-right: 10px;}
.n2 svg {margin-right: 0;margin-left: 6px;}
.n2 p {font-family: 'Source Code Pro', sans-serif;word-spacing: -3px;letter-spacing: -1px;font-size: 14px;display: table;}
/**********************************************************/
.img-glob {float: left;width: 100%;margin-top: 10px;}
.img-cont {display: table;margin: auto;width: 100%;transition: .2s;-webkit-transition: .2s;-moz-transition: .2s;-ms-transition: .2s;-o-transition: .2s;}
.col-6 .img-1 {float: left;margin-right: 10px;background: #f1efef;}
.col-6 .img-2 {display: table;width: calc(100% - 530px);width: -moz-calc(100% - 530px);width: -ms-calc(100% - 530px);width: -o-calc(100% - 530px);width: -webkit-calc(100% - 530px);background: #f1efef;}
.img-cont a {padding: 10px;width: 100%;border: 0;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        article {padding: 0;}
        .column {padding: 4px 8px;}
        .column:last-child {padding-bottom: 8px;}
        .img-proj {margin: 0;width: 100%;}
        .content img, .img-cont img {max-width: 70%;}
        /**********************************************************/
        .n3 {width: 100%;}
        .desc {padding: 10px;}
        .desc h3 {margin: 0;padding: 0;}
        .n1 {padding: 0 10px;padding-bottom: 10px;}
        /**********************************************************/
        .n2 {margin-bottom: 2px;}
        .n2:last-child {margin-bottom: 0;}
        /**********************************************************/
        .img-glob {background: mediumturquoise;}
        .col-6 .img-1 {margin: 8px 0;}
        .col-6 .img-1, .col-6 .img-2 {width: 100%;}
}
@media (max-width: 479px) {
        .project-title {padding: 0;}
        .project-title svg {width: 26px;height: 26px;float: none;margin: auto;margin-top: 14px;display: block;}
        .p-title {margin: 6px 0;margin-top: 6px;font-size: 17px;font-weight: 600;line-height: unset;}
}
@media (max-width: 991px) { .content img, .img-cont img {max-width: 80%;} }
@media (max-width: 767px) { .content img, .img-cont img {max-width: 90%;} }
@media (max-width: 479px) { .content img, .img-cont img {max-width: 100%;} }
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
footer {background: #35869a;}
footer p:first-child {padding: 12px 0;padding-top: 16px;}
footer p {color: white;text-align: center;}
hr {margin: 10px 16px;border-color: white;background: white;outline: none;}
footer br {display: none;}
footer a {float: none;border: 0;display: inline-block;padding: 0;height: 16px;position: relative;top: 4px;}
/**********************************************************/
footer > div {display: table;margin: auto;padding: 12px 10px;padding-bottom: 16px;}
footer div div {float: left;margin-right: 10px;}
footer svg {fill: white;margin-right: 6px;}
footer h6 {display: table;color: white;}
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
@media (max-width: 1209px) {
        footer p:first-child {padding-bottom: 0;}
        .pbr {line-height: 14px;}
        footer br {display: block;}
        footer div div {clear: both;}
}
@media (max-width: 479px) {
        footer {padding: 8px;}
        .pbr {line-height: unset;}
        footer br {display: none;}
}
